@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&family=Source+Sans+3&display=swap');

.mono {
  font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
}

:root {
  font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color-scheme: only dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-black: #0d1117;
  --color-white: #ecf2f8;
  --color-grey: #57606a;
  --color-cursor: #58a6ff;
  --color-blue: #0969da;
  --color-cyan: #56d4dd;

  --color-title: var(--color-white);
  --color-bg: var(--color-black);
  --color-body: var(--color-grey);
  --color-link: var(--color-cyan);
  --color-focus: var(--color-cyan);
  --color-cursor: var(--color-cyan);

}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  color: var(--color-body);
  background-color: var(--color-bg);
  transition: background 0.2s ease;
}

h1, h2, h3 {
  color: var(--color-title);
  font-size: 1rem;
  font-weight: bold;
}

h3 {
  font-weight: normal;
}

p+h3 {
  margin-top: 2rem;
}

a {
  color: var(--color-link);
  transition: background 0.2s ease;
}

*:focus {
  outline: solid var(--color-focus) 1px;
  outline-offset: 1px;
}

a:hover, a:focus {
  color: var(--color-bg);
  background: var(--color-link);
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1.2rem;
}

ul li:before {
  content: '- ';
  margin-left: -1rem;
}

p {
  max-width: 32rem;
  font-size: .9rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin: .5rem 0;
  text-align: justify;
}

p:last-of-type {
  margin-bottom: 2rem;
}

#app {
  width: 66%;
  margin: 8vw;
  padding: 2rem 2rem;
}

@media screen and (max-width: 600px) {
  #app {
    width: 100%;
    margin: 0;
    margin-right: 4rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
